@font-face {
  font-family: 'Jaffna-semi-bold';
  src: url(../fonts/PostNoBillsJaffna-SemiBold.woff);
}

body {
  font-family: 'Raleway', sans-serif;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 70%;
}
.first-screen {
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(../img/bgr-first-screen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 74px;
}
.header-logo-nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Jaffna-semi-bold";
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
.logo span {
  font-style: normal;
  font-weight: normal;
  font-family: 'Raleway';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12em;
  margin: 0;
}
.header-nav-link {
  color: #fff;
  text-decoration: none;
  font-family: 'Raleway';
  margin: 0 10px;
}
.header-title {
  font-family: 'Playfair Display';
  font-size: 48px;
  line-height: 64px;
  color: #d4c17f;
  max-width: 556px;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  margin-bottom: 100px;
}
.mouse-header {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 200px;
}
.header-contacts {
  display: flex;
  justify-content: space-around;
}
.header-contact {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Raleway';
}
.header-contact img {
  margin-right: 15px;
}
.testimonials {
  background-color: #242b33;
  padding-top: 80px;
  padding-bottom: 80px;
}

.testimonials-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonials-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 53px;
}
.testimonials-item span {
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

}
.ourFlats {
  background-color: #242b33;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.ourFlats-title {
  margin: 0;
  margin-bottom: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  font-family: 'Playfair Display';
  color: #d4c17f;
}

.flats {
  display: flex;
  flex-wrap: wrap; 
}
.flat {
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url(../img/flat.jpg), #D4C17F;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-basis: 45%;
  margin: 15px;
  height: 320px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.flat span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-left: 50px;
  margin-bottom: 50px;
  display: block;
  margin-top: auto;
}
.feedback {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../img/feedback-bgr.jpg), #C4C4C4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 180px;
  padding-bottom: 180px;
}
.feedback-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.feedback-text {
  display: flex;
  flex-direction: column;
  max-width: 535px;
  flex-basis: 45%;
  margin-right: 35px;
}
.feedback-text h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
  margin: 0;
  margin-bottom: 50px;
}
.feedback-text p {
  color: #fff;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
.feedback-form {
  display: flex;
  background-color: transparent;
  justify-content: flex-start;
  flex-wrap: wrap; 
  flex-basis: 45%;
}
.input {
  background-color: white;
  opacity: 0.2;
  color: #bebebe;
  font-size: 14px;
  line-height: 27px;
  font-family: 'Raleway';
  border: none;
  outline: none;
  text-align: center;
}
.inputName {
  margin-right: 30px;
  margin-bottom: 40px;
  padding: 10px;

}
.inputPhone {
  margin: 0;
  margin-bottom: 40px;
  padding: 10px;
}
.feedback-form p {
  color: #e7e7e7;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  width: 45%;
  text-align: center;
  margin: 0;
  margin-right: 25px;
  flex-basis: 45%;
}
.feedback-form button {
  background-color: #d4c17f;
  font-family: 'Raleway';
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  margin: 0;
  border: none;
  outline: none;
  flex-basis: 44%;
}
.video {
  background-color: #242b33;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 180px;
}
.video-block {
  background: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8)), url(../img/video-bgr.jpg), #626262;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
  transition: all 0.45s ease-in-out;
}
.video-block:hover {
  border-radius: 30px;
}
.video-block img {
  width: 100px;
  height: 100px;
}
.district {
  background-color: #242b33;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 180px;
}
.district-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
  margin-bottom: 100px; 
}

